name: Delete Messages

on:
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install requests
        run: pip install requests

      - name: Run deletion script
        env:
          DISCORD_TOKEN: ${{ secrets.D }}
          TARGET_USER: "1435987186502733878"
          TARGET_GUILD: "1435926772972519446"
        run: python3 delete_messages.py
